body,p,h1,h2,ul{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(236, 236, 236, 0.692);
}
.title {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    position: relative;
}


h1 {
    border-bottom: 3px solid;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    bottom: -60px;
}

.myself {
    padding-top: 80px;
}

.current{
    padding-top: 40px;
}

.skill{
    padding-top: 40px;
}

.PR{
    padding-top: 40px;
}

p {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 20px;
    font-size: clamp(20px, 2vw, 30px);
}

.container {
    font-family: 'Oswald', sans-serif;
    font-family: 'RocknRoll One', sans-serif;
    width: 80%;
    height: 80vh;
    margin: 20px auto 0px;
    background-color: rgb(221, 221, 221);
    z-index: 0;
    position: relative;
}

.btn {
    position: relative;
    top: 40px;
    padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid rgba(187, 187, 187, 0.692);
	color: rgba(187, 187, 187, 0.692);
	border-radius: 100vh;
	transition: 0.5s;
}

a.btn:hover {
	color: #fff;
	background: rgba(187, 187, 187, 0.692);
}